.destinations-page {
	.section {
		padding: 4rem 0 !important;
	}

	&__nav {
		padding: 1rem 10rem;
		gap: 0.5rem;
		flex-wrap: wrap;

		@media only screen and (max-width: $tab-land) {
			padding: 1rem 0;
		}
		@media only screen and (max-width: $mbl-land) {
			padding: 1rem 2rem;
		}

		a {
			text-decoration: none;
			color: $color-white;
		}
	}

	.header {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url('../img/destinations-hero-img.jpg') !important;
		min-height: 45vh;
		position: relative;

		a,
		p,
		i {
			color: $color-white;
		}

		&__nav {
			padding: 1rem 10rem;
			gap: 0.5rem;
			flex-wrap: wrap;

			@media only screen and (max-width: $tab-land) {
				padding: 1rem 0;
			}
			@media only screen and (max-width: $mbl-land) {
				padding: 1rem 2rem;
			}

			a {
				text-decoration: none;
				color: $color-white;
			}
		}

		&__content {
			position: absolute;
			@include pos-center;
			width: 95%;

			h1 {
				font-size: 4.4rem;
				font-weight: 500;
				margin-bottom: 4rem;
			}
		}

		&__dielog {
			gap: 1rem;
			position: absolute;
			bottom: 2rem;
			left: 50%;
			transform: translateX(-50%);
			// @include flex-center;
			// width: 100%;
			flex-wrap: wrap;
			text-align: center;
			background: rgba(0, 0, 0, 0.5);
			padding: 10px 10px 10px 50px;
			border-radius: 0.4rem;

			// img,
			// p,
			// a {
			// 	display: inline;
			// }
		}
	}

	.header {
	}

	.text {
		color: $color-white;
	}

	.newsletter-section {
		padding: 5rem 0;
		background-color: #f0f0f0;
	}

	.newsletter {
		@media only screen and (max-width: $mbl-land) {
			padding: 0 2rem;
		}
		&__list {
		}

		&__item {
			h2 {
				font-weight: 400;
				font-size: 3rem;
			}

			.text {
				font-weight: 500;
			}

			h3 {
				font-weight: 500;
				font-size: 2.6rem;
			}
		}

		&__btn {
			text-decoration: none;
			border: 1px solid $color-secondary;
			background-color: $color-secondary;
			transition: all 0.3s;
			width: 100%;
			display: block;
			padding: 0.8rem 0;
			border-radius: 0.4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			.text,
			i {
				color: $color-white;
				transition: all 0.3s;
			}

			i {
				position: absolute;
				top: 50%;
				right: 1rem;
				transform: translateY(-50%);
			}

			&:hover {
				background-color: transparent;

				.text,
				i {
					color: $color-secondary;
				}
			}
		}
	}

	.section-introduction {
		padding: 6rem 0;

		.introduction {
			h3 {
				color: $color-black;
				font-weight: 600;
			}

			.text {
				color: $color-black;
			}

			.price {
				font-size: 1.8rem;
				color: $color-secondary;
			}

			.btn {
				border-radius: 0.5rem;
				border: 2px solid $color-secondary;
				background-color: $color-secondary;
				color: $color-white;

				&:hover {
					background-color: transparent;
					color: $color-black;
				}
			}
		}
	}

	.reassurance-section {
		background-color: #d8ebf1;
		padding: 5rem 0;

		.reassurance {
			&__item {
				text-align: center;
			}

			&__img {
				height: 7rem;
				width: 7rem;
				margin: 0 auto;

				img {
					@include img-size;
				}
			}

			h5 {
				font-size: 1.8rem;
				font-weight: 600;
				color: #003865;
			}
		}
	}

	.destinations-section {
		background-color: #f5f5f5;
		padding-left: 3rem;
		padding-right: 3rem;

		.destinations {
			&__header {
				h3 {
					font-weight: 600;
				}

				.btn {
					background-color: $color-white;
					box-shadow: 0 0 4px rgb(0 0 0 / 25%);
					color: $color-secondary;
					border: none;
					border-radius: 0.4rem;
					transition: all 0.3s;

					.text,
					i {
						transition: all 0.3s;
					}

					&:hover {
						background-color: $color-secondary;

						.text,
						i {
							color: $color-white !important;
						}
					}
				}
			}

			&__item {
				box-shadow: 0px 0px 3px rgb(0 0 0 / 25%);
			}

			&__img-area {
				position: relative;
				width: 100%;
				height: 15rem;
			}

			&__img {
				@include img-size;

				img {
					@include img-size;
				}
			}

			&__desc {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				padding: 2rem;
				background-image: linear-gradient(rgba(0, 0, 0, 0.323), rgba(0, 0, 0, 0.286));
				height: 100%;

				h5 {
				}

				.text {
				}
			}

			.right-arrow {
				background-color: transparent;
				border: none;
				outline: none;
				color: #fff;
			}

			&__link {
				background-color: $color-white;
				padding: 2rem;
				color: $color-black;
				text-decoration: none;

				.text {
					color: $color-black;
					text-transform: capitalize;
					transition: all 0.3s;
				}

				button i {
					color: $color-black;
					transition: all 0.3s;
				}

				&:hover {
					.text {
						color: $color-secondary;
					}

					button i {
						color: $color-secondary;
					}
				}
			}
		}
	}

	.btn {
		border: 1px solid $color-secondary;
		padding: 0.6rem 2rem;
		border-radius: 0.5rem;

		i,
		.text {
			color: $color-secondary;
			transition: all 0.3s;
			text-transform: capitalize;
		}

		&:hover {
			background-color: $color-secondary;
			i,
			.text {
				color: white;
			}
		}
	}

	.villas-section {
		a {
			text-decoration: none;
		}

		.villas {
			padding: 1rem 0;
			border: 1px solid #000;
			margin-bottom: 2rem;

			&__item {
				// border: 1px solid red;
				height: 100%;
				width: 100%;
			}

			.slider {
				height: 25rem;
				width: 100%;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					.swiper-button-next,
					.swiper-button-prev {
						opacity: 1;
						visibility: visible;
					}
				}

				.swiper {
					height: 100%;
				}

				.swiper-slide {
					height: 100%;
					width: 100%;
				}

				&__img {
					@include img-size;

					img {
						@include img-size;
					}
				}

				.swiper-pagination {
					color: #fff;

					span {
						color: #fff;
					}
				}

				.swiper-button-next,
				.swiper-button-prev {
					z-index: 3;
					opacity: 0;
					visibility: hidden;
					z-index: 1;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 3.5rem;
					width: 3.5rem;
					transition: all 0.3s;
					background: rgba(1, 1, 1, 0.4);

					i {
						color: #fff;
					}
				}
			}

			.desc {
				position: relative;
				border-right: 1px solid #000;
				padding-right: 1.5rem;

				@media only screen and (max-width: $tab-port) {
					border-right: none;
				}

				h3 {
					font-size: 2.2rem;
				}

				.text {
					color: #000;
				}

				.review {
					&__stars {
						gap: 0.4rem;
						margin-right: 0.5rem;

						.btn-star {
							border: none;
							outline: none;
							background-color: transparent;

							i {
								color: #ffd000;
							}
						}
					}

					&__number {
						margin-right: 0.8rem;
					}

					img {
						height: 1.5rem;
					}
				}

				&__icons {
				}
				&__icon {
					align-items: center;

					i {
						font-size: 3rem;
						color: rgba(51, 51, 51, 0.621);
					}

					.text {
						color: #000;
					}
				}

				.btn-wishlist {
					border: 1px solid $color-secondary;
					padding: 0.6rem 2rem;
					border-radius: 0.5rem;
					position: absolute;
					top: 0;
					right: 1.5rem;

					i,
					.text {
						color: $color-secondary;
						transition: all 0.3s;
						text-transform: capitalize;
					}

					&:hover {
						background-color: $color-secondary;
						i,
						.text {
							color: white;
						}
					}
				}
			}

			.price {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-color: #f0f0f0;
				padding: 0.8rem 1.5rem;
				gap: 2rem;

				.text {
					text-transform: capitalize;
				}

				&__main {
					.text {
						color: #000;
					}

					h2 {
						color: #003865;
					}

					.pp {
						color: #003865;
					}
				}

				&__total {
					.text {
						color: #003865;
						font-weight: 600;
					}

					.price-number {
						color: #003865;
						font-weight: 600;
					}
				}

				&__date {
					i,
					.text {
						color: #000;
					}
				}

				.btn-details {
					background-color: $color-secondary;
					color: #fff;
					text-transform: capitalize;

					&:hover {
						background-color: transparent;
						color: #000;
					}
				}
			}
		}
	}

	.accordion-section {
		.accordion {
			max-width: 70rem;
			width: 100%;

			h2 {
				button {
					font-size: 1.8rem;
				}
			}

			&-collapse {
				font-size: 1.6rem;
			}
		}
	}

	.villa {
		&__list {
			height: 26rem;

			.swiper {
				height: 100%;
			}
		}

		&__item {
			height: 22rem;
			width: 100%;
		}

		&__img {
			height: 90%;
			width: 100%;

			img {
				@include img-size;
			}
		}

		&__text {
			font-weight: 600;
		}
	}

	.popular-section {
		.villa {
			&__item {
				position: relative;
			}

			&__text {
				width: 100%;
				position: absolute;
				bottom: 3rem;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				color: #fff;
			}
		}
	}

	.recommends-section {
		.villa {
			&__item {
				position: relative;
				filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.25));
			}

			&__text {
				width: 14rem;
				min-height: 6rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-items: center;
				position: absolute;
				bottom: 2rem;
				left: 0;
				background-color: #fff;
				padding: 1rem;
				text-align: center;

				.text {
					color: #000;
					font-size: 1.6rem;
					font-weight: 400;
				}

				.title {
					font-size: 2.4rem;
					font-weight: 400;
					color: #000;
				}
			}
		}
	}

	.newVillas-section {
		padding: 4rem 0;
		background-color: #f5f5f5;

		.villa {
			&__list {
				height: auto;
			}

			&__item {
				position: relative;
				filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.25));
			}

			&__img {
				height: 100%;
			}

			&__text {
				position: absolute;
				bottom: 1rem;
				left: 50%;
				transform: translateX(-50%);

				span {
					color: #fff;
				}
			}
		}
	}
}
