/* Footer Area Design Start  */
.FooterColor {
	background-color: #003865;
	padding: 6rem 1rem 0 1rem;
}
.Advice {
	font-family: 'Montserrat Light', Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	margin-top: 10px !important;
}
.Advice2 {
	font-size: 26px;
	line-height: 39px;
	margin: 0 0 30px 0;
	margin: 0 0 15px 0;
	font-weight: bold;
	color: #fff;
}
.FooterLink a {
	color: #fd8a52;
	text-decoration: none;
	font-weight: 500;
	margin-top: 4px;
	display: block;
}
.FooterLink a:hover {
	color: #fd8a52;
}
.FooterParagraph img {
	width: 120px;
	height: 95px;
}
.FooterParagraph {
	display: flex;
	margin-top: 20px;
}
.FooterP1 {
	font-size: 13px;
	line-height: 20px;
	padding-top: 10px;
	color: #fff;
	margin-left: 15px !important;
	font-weight: 500;
}
.FooterParagraph a {
	text-decoration: none;
	font-size: 15px;
	line-height: 19px;
	padding-top: 10px;
	color: #fff;
}
.FooterSocial {
	display: flex;
	margin-top: 20px;
}
.FooterSocial img {
	width: 50px;
	height: 45px;
	padding: 8px;
	border-radius: 1px;
	margin-left: 7px;
}
.CopyJames {
	font-size: 18px;
}

.fb {
	background-color: #3b5998;
}
.fb:hover {
	background-color: #32497b;
}
.Twiter {
	background-color: #55acee;
}
.Twiter:hover {
	background-color: #4091ce;
}
.pinterest {
	background-color: #cb2027;
}
.pinterest:hover {
	background-color: #982226;
}
.Youtube {
	background-color: #bb0000;
}
.Youtube:hover {
	background-color: #9c0505;
}
.instagram {
	background-color: #0e5fa1;
}
.instagram:hover {
	background-color: #074b83;
}
.FooterSocial svg:hover {
	color: #fff;
	fill: #333;
	outline: #333;
	cursor: pointer;
}
.AppDown {
	margin-top: 7px !important;
}
.AppDown a {
	font-size: 17px;
	font-weight: 600;
	color: #fff;
	margin-left: 15px;
	text-decoration: underline;
	margin-top: 5px;
}
.Contacth3 {
	font-size: 20px;
	color: #fff;
}

.ContactImg img {
	width: 100px;
	height: 70px;
}

.Feedback {
	height: 120px;
	width: 45px;
	margin-left: 85%;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	color: #fff;
	font-size: 15px;
	background-color: #003865;
	box-shadow: #09599a;
	border: 1px solid black;
	padding-right: 10px;
	display: flex;
	position: sticky;
	right: 0;
	top: 50%;
}
.Feedback p {
	margin-left: 12px;
	margin-top: 10px;
}
.Feedback img {
	width: 20px;
	height: 20px;
	margin-top: 12px;
	margin-left: 12px;
	transform: rotate(273deg);
}
.Copyright hr {
	color: #fff;
	border: 1px solid #fff;
	background-color: #fff;
}
.Copyright p {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
}
.Copyright a {
	color: #fff;
	font-size: 15px;
}
.Leftpayment {
	margin-left: 20%;
	text-align: center;
}

.Payment img {
	width: 55px;
	height: 30px;
}

/* Footer Area Design End  */
