.nav {
	padding: 3rem 4rem;
	background-color: transparent;
	position: relative;
	// position: absolute;
	// top: 0;
	// left: 0;
	// width: 100%;
	// z-index: 2;

	&__logo {
		height: 5rem;
		width: 30rem;

		@media only screen and (max-width: $laptop-land) {
			margin: 0 auto;
			text-align: center;
		}

		.logo {
			text-decoration: none;
			@include img-size;
		}

		img {
			@include img-size;
		}
	}

	&__list {
		gap: 1rem;

		@media only screen and (max-width: $laptop-land) {
			position: fixed;
			top: 0;
			left: 0;
			display: flex !important;
			flex-direction: column;
			justify-content: start !important;
			align-items: start !important;
			background-color: white;
			width: 100%;
			height: 100vh;
			z-index: 52;
			color: #000;
			padding: 4rem;
			transform: translateX(100%);
			transition: all 0.5s;

			.nav__link {
				color: #000 !important;
				.text,
				i {
					color: #000 !important;
				}
			}

			.btn-close {
				background-color: #f5f5f5;
				height: 5rem;
				width: 5rem;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				bottom: 2rem;
				right: 2rem;
			}
		}
	}
	&__list.show {
		transform: translateX(0);
	}
	&__link {
		text-decoration: none;
		color: $color-white;

		&:hover {
			text-decoration: none;
			color: $color-white;
		}
	}

	&__btns {
		gap: 1rem;
	}
}

.dropdown {
	// display: flex;
	// flex-direction: column;
	// gap: 4rem;

	&__btn {
		gap: 1rem;

		i {
			font-size: 1.2rem;
		}
	}
	&__content {
		gap: 1.5rem;
		padding: 2rem;
		background-color: $color-white;
		position: absolute;
		top: 2rem;
		width: auto;
		min-width: 25rem;
		opacity: 0;
		visibility: hidden;
		transform: scale(0.6);
		transition: all 0.3s;
		// margin-top: 2rem;
	}
	&__link {
		text-decoration: none;
		color: $color-black;
		display: block;

		&:hover {
			color: $color-black;
		}
	}
}

.dropdown:hover .dropdown__content {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.mblNav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 2rem 0;
	background-color: hsla(0, 0%, 100%, 0.9);
	color: #000;
	box-shadow: 0 -1px 40px 0 rgb(0 0 0 / 9%);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	z-index: 50;

	&__list {
		gap: 2rem;
	}
	&__item {
	}
	&__link {
		text-decoration: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0rem;

		.icon {
			// height: 2.5rem;
			// width: 2rem;
		}

		.text {
			color: $color-black;
			font-size: 1.2rem;
			font-weight: 500;
		}
	}
}

.HeaderLogo {
	color: #2c2c2c;
	font-size: 12px;
}
nav {
	height: 40px;
	padding: 10px;
}
.nav-link {
	font-size: 13px;
	color: #2c2c2c;
	font-weight: 500;
}

.VrArea {
	color: #d5d3d3;
	height: 20px !important;
	width: 1px;
}

.dropdown-toggle {
	font-size: 13px;
	color: #2c2c2c !important;
	font-weight: 500 !important;
	margin-right: 20px;
}

.navbar .HeaderLogo:hover {
	color: #fd8a52;
}
svg:hover path {
	fill: #fd8a52;
	transition: all ease 0.3s;
}
.Logo1 img {
	margin-top: -13px;
	margin-left: 20px;
}

@media all and (max-width: 767px) {
	.DisplayNoneMD {
		display: none;
	}
}
