.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../img/bg-hero.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	height: auto;
	position: relative;

	@media only screen and (max-width: $tab-land) {
		// background-position: center;
	}

	&__content {
		position: absolute;
		@include pos-center;
		text-align: center;
		width: 95%;

		.text {
			color: $color-white;
		}
	}

	&__search {
		max-width: 1320px;
		margin: 0 auto;
	}

	.search {
		width: 100%;
		background-color: $color-white;
		border-radius: 10rem;
		padding: 0 2rem;

		&__form {
			gap: 0.4rem;
		}

		.dropdown {
			width: 100%;

			.btn {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border: 0;
				border-radius: 0;
				padding: 3rem 1.5rem;
				background-color: transparent;
				color: $color-black;

				&:focus,
				&:active {
					border: none;
					outline: none;
					box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 0%);
				}

				&::after {
					display: none;
				}

				i,
				.text {
					color: $color-black;
				}
			}

			&-menu {
				width: 100%;

				box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
				// padding: 2rem 0;
			}

			&-content {
				display: flex;
				flex-direction: column;
				gap: 0.6rem;
				padding: 2rem;
				border-bottom: 1px solid #eee;
			}

			&-item {
				font-size: 1.6rem;
				background-color: #f1f1f1;
				border-radius: 10rem;
				padding: 0.8rem 1.2rem;
				font-weight: 600;
			}

			&-btn {
				padding: 1.5rem;
				display: flex;
				justify-content: end;
				align-items: center;

				.btn {
					background-color: $color-black;
					color: $color-white;
					height: auto;
					width: auto;
					padding: 1rem 3rem;
					border-radius: 10rem;
				}
			}
		}

		&__input {
			width: 100%;
			height: 100%;
			background-color: transparent;
			padding: 1.4rem 1rem;
			border: none;
			outline: none;
			font-weight: 600;

			&:focus {
				border: none;
				outline: none;
			}

			&::placeholder {
				color: $color-black;
				font-weight: 600;
			}
		}

		.btn__submit {
			padding: 0;
			height: 5rem;
			width: 15%;
			display: block;
			background-color: $color-primary;

			@media only screen and (max-width: $laptop-land) {
				width: 20%;
			}

			i {
				color: $color-white;
				font-weight: 700;
			}
		}
	}
}
